[Desktop Entry]
Categories=Other;
Exec=feh -Z %F
MimeType=image/jpeg;image/png
Name=feh minimized
NoDisplay=true
Terminal=false
Type=Application
Icon=feh
